*{

    background-image: url(https://cdn.pixabay.com/photo/2022/11/06/10/54/clock-7573739_1280.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
}
.head{
    position: absolute;
    top:30%;
    left:40%;
    margin: -25px 0 0 -25px;
    margin-left: 368px;
}
.stopwatch-container {
    
    text-align: center;
    position: absolute;
    top:40%;
    left:40%;
    margin: -25px 0 0 -25px;
    margin-left: 300px;
    width: 300px;
  }
  
  .stopwatch-display {
    font-size: 2em;
    margin-bottom: 20px;
   
  }
  
  .stopwatch-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    
  }
  
  .stopwatch-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #9db2c9;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .stopwatch-button:hover {
    background-color: #bacfe7;
  }
  
  .stopwatch-laps {
    list-style: none;
    padding: 0;
  }
  
  .stopwatch-lap-item {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  